@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#091b0c] font-serif;
}
:root {
  --scroll-color: #666;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
}
@keyframes gradual-grey-anim {
  from {
    background-color: #091b0c;
  }
  to {
    background-color: #364839;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showAfter5s {
  to {
    visibility: visible;
  }
}

@keyframes shakeAfter3s {
  20% {
    margin: 30px 0 0 60px;
  }
  40% {
    margin: 0;
  }
  55% {
    margin: 60px 0 0 20px;
  }
  70% {
    margin: 0;
  }
  85% {
    margin: 10px 0 0 20px;
  }
  100% {
    margin: 0;
  }
}

.gradual-grey {
  animation-name: gradual-grey-anim;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.buttonPushBgcolorAnomaly {
  color: black;
  background-color: #b91c1c;
}

.show-after-5s {
  visibility: hidden;
  animation: showAfter5s 0s forwards;
  animation-delay: 5s;
}

.shake-after-3s {
  animation: shakeAfter3s 250ms linear;
  animation-delay: 3s;
}

.animate-fadeIn {
  animation: fadeIn 3s ease forwards;
}

.secret {
  color: transparent;
}

.secret::selection {
  color: red; /* 範囲選択時に表示される色 */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  display: inline-block;
  animation: rotate 2s linear infinite;
}

.speechBubble {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 24px 16px;
  border: 2px solid #000000;
  border-radius: 9999px;
  background-color: #ffffff;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.speechBubble::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #000000 transparent transparent;
  translate: -50% 100%;
}

.speechBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  border-style: solid;
  border-width: 15.5px 7.8px 0 7.8px;
  border-color: #ffffff transparent transparent;
  translate: -50% 100%;
}
