@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-[#091b0c] font-serif;
}

@keyframes gradual-grey-anim {
  from {
    background-color: #091b0c;
  }
  to {
    background-color: #364839;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showAfter5s {
  to {
    visibility: visible;
  }
}

.gradual-grey {
  animation-name: gradual-grey-anim;
  animation-duration: 20s;
  animation-fill-mode: forwards;
}

.buttonPushBgcolorAnomaly {
  color: black;
  background-color: #b91c1c;
}

.show-after-5s {
  visibility: hidden;
  animation: showAfter5s 0s forwards;
  animation-delay: 5s;
}

.animate-fadeIn {
  animation: fadeIn 3s ease forwards;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-rotate {
  display: inline-block;
  animation: rotate 2s linear infinite;
}

.fullWidthButton{
  position: fixed;  
  top: 0;           
  left: 0;          
  width: 100vw;    
  height: 100vh;   
  z-index: 9999; 
  font-size: 3rem;  
  display: flex;   
  align-items: center;
  justify-content: center;
  background-color: #b91c1c;
}
